.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    min-height: 40rem;
}

.game-container .game-info{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--game-info-background-color);
    z-index: 2;
    min-height: 30rem;
    max-height: 65rem;
    border-radius: 10px;
    gap: 3rem;
    flex: 1;
}

.game-info__el{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
}

.game-info__el .value{
    font-size: 1.3rem;
}

.game-container .game-field-container{
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.game-field-8, .game-field-16, .game-field-32{
    display: grid;
    grid-template-columns: repeat(4,minmax(10px,1fr));
    gap: 1rem;
}

.game-field-16, .game-field-32{
    grid-template-columns: repeat(8,minmax(10px,1fr));
}

.pause-btn{
    text-align: center;
    width: 100%;
    padding: 0.4rem;
    border-radius: 2%;
    font-size: 1.6rem;
    color: var(--game-info-button-color);
    border: 1px solid var(--game-info-button-border);
    background-color: var(--game-info-button-background-color);
    transition: 0.4s;
}

.pause-btn:hover{
    background-color: var(--game-info-button-background-hover);
    cursor: pointer;
    transform: scale(1.02);
}

.pause-btn:active{
    background-color: var(--game-info-button-background-active);
}

.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    flex-direction: column;
    font-size: 1.2rem;
}

.result-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.result-info .label{
    font-size: 1.4rem;
    font-weight: bold;
}

.result-container .title{
    color: var(--result-title-color);
    font-size: 1.8rem;
    font-weight: bold;
}


.result-save-btn, .result-btn{
    display: flex;
    text-decoration: none;
    color: var(--menu-color);
    justify-content: center;
    width: 70%;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid var(--game-info-button-border);
    border-radius: 1.5rem;
    background-color: var(--game-info-button-background-color);
    transition: 0.4s;
}

.result-btn{
    font-weight: bold;
    background-color: transparent;
}

.result-save-btn:hover, .result-btn:hover{
    background-color: var(--game-info-button-background-hover);
    cursor: pointer;
    transform: scale(1.02);
}

.result-save-btn:active,.result-btn:active{
    background-color: var(--game-info-button-background-active);
}